<h2>Ecrire un post</h2>

<form method="post">
  <label> Titre
    <input type="text" name="title">
  </label>

  <label> Contenu
    <input type="text" name="content">
  </label>

  <br/>

  <input type="submit" value="Créer">
</form>